target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
test-output/
log/
/doc/
/resources/
.README.md.html

src/main/webapp/upload/
/.apt_generated/
src/main/resources/md2pdf/node_modules/
.classpath
.externalToolBuilders/
.settings/
.factorypath
.project
node_modules/
.idea
