<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>TMS - 用户创建</title>
</head>

<body style="background-color: rgb(255, 255, 255); box-sizing: border-box; color: rgb(51, 51, 51); display: block; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px;">
    <div style="box-sizing: border-box; color: rgb(51, 51, 51); display: block; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px; padding-left: 15px; padding-right: 15px;">
        <div style="box-sizing: border-box; padding-bottom: 9px; margin: 40px 0px 0px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(238, 238, 238); color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 20px;">
            <h3 style="box-sizing: border-box; font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; margin-top: 20px; margin-bottom: 10px; font-size: 24px;">用户创建</h3></div>
        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="box-sizing: border-box; max-width: 100%; margin-bottom: 20px; color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 20px;">
            <thead style="box-sizing: border-box;">
                <tr style="box-sizing: border-box; background-color: rgb(249, 249, 249);">
                    <th style="min-width: 80px; box-sizing: border-box; padding: 8px; line-height: 1.42857143; vertical-align: middle; border-top-width: 0px; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(221, 221, 221);">系统消息:</th>
                    <th style="text-align: left; word-break: break-word; box-sizing: border-box; padding: 8px; line-height: 1.42857143; vertical-align: middle; border-top-width: 0px; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(221, 221, 221);"><p>亲爱的用户您好! 系统为您创建了以下账号!</p>系统地址: <a th:href="${href}" th:text="${href}" href="http://localhost/">http://localhost/</a></th>
                </tr>
            </thead>
            <tbody style="box-sizing: border-box;">
                <tr style="box-sizing: border-box;">
                    <th style="min-width:80px; box-sizing: border-box; padding: 8px; line-height: 1.42857143; vertical-align: middle; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(221, 221, 221);">用户:</th>
                    <td th:text="${user.username + (#strings.equals(userRole, 'admin') ? '(管理员)' : '')}" style="word-break: break-word; box-sizing: border-box; padding: 8px; line-height: 1.42857143; vertical-align: middle; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(221, 221, 221);">test(管理员)</td>
                </tr>
                <tr style="box-sizing: border-box; background-color: rgb(249, 249, 249);">
                    <th style="min-width:80px; box-sizing: border-box; padding: 8px; line-height: 1.42857143; vertical-align: middle; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(221, 221, 221);">密码:</th>
                    <td th:text="${user.password}" style="word-break: break-word; box-sizing: border-box; padding: 8px; line-height: 1.42857143; vertical-align: middle; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(221, 221, 221);">888888</td>
                </tr>
                <tr style="box-sizing: border-box;">
                    <th style="min-width:80px; box-sizing: border-box; padding: 8px; line-height: 1.42857143; vertical-align: middle; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(221, 221, 221);">姓名:</th>
                    <td th:text="${user.name}" style="word-break: break-word; box-sizing: border-box; padding: 8px; line-height: 1.42857143; vertical-align: middle; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(221, 221, 221);">测试用户</td>
                </tr>
                <tr style="box-sizing: border-box; background-color: rgb(249, 249, 249);">
                    <th style="min-width:80px; box-sizing: border-box; padding: 8px; line-height: 1.42857143; vertical-align: middle; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(221, 221, 221);">邮箱:</th>
                    <td style="word-break: break-word; box-sizing: border-box; padding: 8px; line-height: 1.42857143; vertical-align: middle; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(221, 221, 221);">
                        <a th:if="${user.mail}" th:href="${'mailto:' + user.mail}" th:text="${user.mail}">test@test.com</a>
                    </td>
                </tr>
                <tr style="box-sizing: border-box;">
                    <th style="min-width:80px; box-sizing: border-box; padding: 8px; line-height: 1.42857143; vertical-align: middle; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(221, 221, 221);">直接登录:</th>
                    <td style="word-break: break-word; box-sizing: border-box; padding: 8px; line-height: 1.42857143; vertical-align: middle; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(221, 221, 221);">
                        <a th:href="${loginUrl}" th:text="${loginUrl}" href="http://localhost/admin/login?username=test&password=test">http://localhost/admin/login?username=test&password=test</a>
                    </td>
                </tr>
                <tr style="box-sizing: border-box; background-color: rgb(249, 249, 249);">
                    <th style="min-width:80px; box-sizing: border-box; padding: 8px; line-height: 1.42857143; vertical-align: middle; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(221, 221, 221);">操作提示:</th>
                    <td style="word-break: break-word; box-sizing: border-box; padding: 8px; line-height: 1.42857143; vertical-align: middle; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(221, 221, 221);">
                    </td>
                </tr>
                <tr style="box-sizing: border-box;">
                    <td colspan="2" style="box-sizing: border-box; padding: 8px; line-height: 1.42857143; vertical-align: middle; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(221, 221, 221);">
                        <div style="box-sizing: border-box; padding: 15px; margin-bottom: 20px; border: 1px solid rgb(188, 232, 241); border-radius: 4px; color: rgb(49, 112, 143); background-color: rgb(217, 237, 247);">
                            <h2>TMS - 团队沟通</h2>
                            <p>加入现有频道或者创建新的频道,助力团队成员之间的高效沟通,功能细节值得你欣喜!</p>
                            马上看看去: <a href="http://localhost/page/index.html" th:href="${baseUrl + '/page/index.html'}">团队沟通</a>
                            <br/><br/>
                            <hr/>
                            <h2>TMS - 团队博文</h2>
                            <p>使用TMS博文创作分享知识,助力团队成员之间的互相学习并且快速成长,功能细节值得你欣喜!</p>
                            马上看看去: <a href="http://localhost/page/index.html#/blog" th:href="${baseUrl + '/page/index.html#/blog'}">团队博文</a>
                            <br/><br/>
                            <hr/>
                            <h2>TMS - 协作国际化翻译</h2>
                            <p><b>作为开发者:</b> 添加翻译,系统邮件通知翻译者等关注者,等到翻译完成邮件通知,即可导出翻译条目</p>
                            <p><b>作为翻译者:</b> 接收到邮件通知,直接通过邮件中的翻译链接进入系统,并且定位到要翻译的翻译项目,进行翻译,翻译保存,系统会通知创建者等关注者</p>
                            马上看看去: <a href="http://localhost/admin/translate" th:href="${baseUrl + '/admin/translate'}">协作翻译</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>
