.tms-em-chat-top-menu {
    &.ui.top.menu {
        padding-left: 220px;
        height: 60px;
        @media only screen and (max-width: 767px) {
            .tms-chat-at.tms-hide {
                display: none;
            }
        }
        .item.tms-item:before {
            display: none;
        }
        .right.menu {
            .item {
                &.tms-login-user {
                    @media only screen and (max-width: 767px) {
                        &.tms-hide {
                            display: none;
                        }
                    }
                }
                &.tms-item {
                    padding-left: 0;
                    padding-right: 5px;
                    @media only screen and (max-width: 767px) {
                        &.tms-hide {
                            display: none;
                        }
                        &.tms-mobile-hide {
                            display: none;
                        }
                    }
                    button {
                        .ui.floating.label {
                            top: 0;
                            right: 0;
                            left: auto;
                        }
                    }
                    &.ui.dropdown {
                        @media only screen and (max-width: 767px) {
                            display: flex;
                        }
                        display: none;
                        padding-left: 5px;
                        margin-right: 5px;
                        > i.icon {
                            margin-left: 5px;
                        }
                        .menu {
                            > .item {
                                .ui.button {
                                    margin: 0;
                                    i.icon {
                                        margin: 0;
                                    }
                                }
                            }
                        }
                    }
                }
                &.tms-search {
                    @media only screen and (max-width: 767px) {
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
            }
            .ui.search {
                input {
                    width: 95px;
                    transition: width .15s ease-out 0s;
                }
                i.remove.icon {
                    display: none;
                    position: absolute;
                    right: 0;
                    left: auto;
                }
            }
        }
        @media only screen and (max-width: 767px) {
            padding-left: 0;
        }
        .ui.basic.button {
            box-shadow: none;
        }
    }
    > .tms-chat-at {
        &.ui.dropdown {
            @media only screen and (min-width: 768px) {
                min-width: 175px;
                padding-top: 0;
                padding-left: 13px;
                padding-bottom: 20px;
                &.item:before {
                    width: 0;
                }
            }
            > .text {
                > .actions {
                    display: none;
                }
            }
            > .tms-metadata {
                position: absolute;
                display: flex;
                top: 35px;
                font-size: 12px;
                left: 0;
                height: 15px;
                .item {
                    &:before {
                        top: 5px;
                        height: 50%;
                    }
                    &.tms-channel-info:before {
                        width: 0;
                    }
                    &.tms-user-info:before {
                        width: 0;
                    }
                }
                @media only screen and (max-width: 767px) {
                    display: none;
                }
                .tms-channel-links {
                    .menu {
                        .header {
                            min-width: 200px;
                        }
                    }
                }
            }
            @media only screen and (max-width: 767px) {
                > .text {
                    display: none;
                }
                > .dropdown.icon {
                    margin-left: 6px;
                    margin-right: 6px;
                }
            }
            .menu {
                > .header {
                    i.plus.icon {
                        position: absolute;
                        right: 5px;
                        top: 7px;
                    }
                }
                > .item {
                    &:hover {
                        .actions {
                            display: inline-block;
                        }
                    }
                    .icon {
                        margin-right: 4px!important;
                    }
                    > .actions {
                        display: none;
                        position: absolute;
                        right: 5px;
                        top: 10px;
                        .large.ellipsis.horizontal.icon {
                            font-size: 1.3em!important;
                        }
                    }
                    &.disabled-user {
                        text-decoration: line-through;
                        font-style: italic;
                    }
                }
            }
        }
    }
}
