.tms-em-user-edit {
    .ui.form {
        .field {
            > label {
                width: 45px!important;
            }
            .user-username {
                margin-left: 0;
            }
        }
    }
}

.em-user-edit-modal {
    /* Tablet & PC */
    @media only screen and (min-width: 768px) {
        width: 500px!important;
        margin-left: -250px!important;
    }
}
